body, html {
	margin: 0;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.zag {
	text-align: center;
	text-transform: uppercase;
}

.update_from_page {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	min-height: 600px;
	margin: 0 auto;
	background: #C5C7C3;
	padding: 10px;
	margin-top: 30px;
} 

.form_item {
	display: flex;
	flex-direction: column;
	min-height: 50px;
 
	margin-top: 25px;
}

.title {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
}

.text {
	height: 35px;
}

.textarea {
	min-height: 250px;
}

.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #81E161;
}

.error {
	background: red;
	font-size: 25px;
}

.message {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
}

.message_updata {
	margin: 0 auto;
	min-height: 60px;
	max-width: 300px;
	min-width: 280px;
	background: rgba(129, 225, 97, .9);
	text-align: center;
	font-size: 35px;
}


.error_updata {
	background: red !important;
}

.true_update {
	background: rgb(129, 225, 97) !important;
}

.admin_link {
	width: 300px;
	height: 60px;
	background: rgb(146, 255, 110);
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	margin: 10px auto;
	font-size: 15px;
	text-transform: uppercase;
}


.errors_block {
	background: red;
	max-width: 300px;
	margin: 0 auto;
}

.slide_delete, .add_slide {
	height: 60px;
}

.add_slide {
	background: #73E176;
}

.slide_delete {
	background: #E1041A;
}